

.vertical{
    display: block;
}

.vertical > li.nav-item {
    border-right:none !important;
}
#collapse-menu {
    right:0;
}
.bodypage{
    background: #fff;
}
.wrapper-content {
    padding: 10px 10px 40px;
    margin-top: 50px;
}
.sitmap {
    font-size: 16px;
    color: var(--primary-color);
    margin-top: 40px;
}
.box-body {
    background: #fff;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    -moz-box-shadow: 0px 0px 2px #f3f3f3;
    -webkit-box-shadow: 0px 0px 2px #f3f3f3;
    box-shadow: 0px 0px 2px #f3f3f3;
    display: inline-block;
    width: 100%;
    font-style: normal;
}
.profile-green {
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
    height:60px;
}
.profile-green .imagprof {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 20px;
    float: right;
}
.profile-green p.name {
    font-size: 18px;
    color: #fff;
    margin-top: 14px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.profile-green p.title{
    font-size: 18px;
    color: #fff;
    margin-top: 14px;
    padding-top: 20px;
    padding-right: 20px;
}
.profiles ul {
    padding: 0;
    margin: 16px 15px 20px;
    text-align: right;
}
.profiles ul li {
    display: inline-block;
    margin-left: 50px;
}
.profiles ul li p {
    color: var(--primary-color);
    font-weight: 600;
}
.profiles ul li span {
    font-weight: bold;
    color: #000;
    font-size: 14px;
}

.address{
    text-align: left;
}
.flt{
    float:left;
}
.address > div > h4 {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    /* background: transparent !important; */
    color: #fff;
    border-bottom: none;
    background: var(--primary-color);
    padding: 8px;
    margin-bottom: 10px;
}
.address > div > ul {
    list-style: none;
}
.control-field{
    font-size: 15px;
}


.panel-heading{
    background-color: #e1e2e2;
    color: #000;
    padding: 2px;
}

.panel-title {
    margin-top: 6px;
    margin-right: 6px;
    font-size: 1.3rem;
}


.box-body h4 {
    background-color: var(--primary-color);
    width: 100%;
    padding: 8px 15px 12px 0;
    color: #fff;
    margin: 0;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 6px 6px 0 0;
}


.myaddress{
    direction: rtl;
    text-align: right;
}
.col_bg{
    background-color: #F8F8F8;
}
.col_bg > ul >li{
    line-height: 2;
}

.btn-danger {
    background-color: var(--foor-color);
}

.tablers {
    border: none !important;
}
.tablers th {
    padding: .5rem;
}
.pu_title {
    padding: 10px 15px 12px 0 !important;
    font-size: 15px !important;
}

.no-packagebox {
    text-align: center;
    margin: 100px;
}

.no-packagebox h1 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 20px;
}

/******************************************************/
.widget{
    background-color: white;
    padding: 10px;
}
.shipping{
    margin-bottom: auto;
}
.shipping_prd{
    margin-bottom: auto;
    border: 5px solid var(--secondary-color);
}
.ware{
    color: var(--primary-color);
}

.shipping td, .shipping th {
    vertical-align: middle;
}
.bts{
    margin-bottom: 6px;
}

.md{
    margin-left: 8px;
}

.sidenav-heading{
    color: #777;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 15px;
    /* overflow: hidden; */
    /* padding: 10px 15px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5%;
}

.active_nav{
    background: var(--secondary-color);
    color: #fff;
}
.active_nav > .nav-link {
    color: #fff;
}
.vertical {
    margin-right: -20%;
}
.textcolor{
    color:#17a2b8;
}
.textbg{
    background: #17a2b8;
    color:#fff;
    padding: 5px;
}
.navtabs > li {
    padding: 10px;
}
.navtabs > li > a {
    padding: 10px;
    color:#000;
    text-align: center;
    font-weight: bold;
}
.navtabs > li > .active {
    color:#fff;
    background: var(--secondary-color);
}
.mynewtable td, .mynewtable th {
    vertical-align: middle;
}
.cartmobile{
    position: absolute;
    left: 10px;
    top: 20px;
}
.cartmobile > a > i {
    color:var(--secondary-color);
}
.cartmobile > a > span {
    position: absolute;
    left: 0px;
}
@media screen and (max-width: 600px) {
    .profiles ul li {
        margin: 5px;
    }
    .no-packagebox {
        margin: auto;
    }
    .textcolor {
        padding-top: 20px;
        font-weight: bold;
    }
}

.usability{
    margin-top: 1rem;
    margin-bottom: -5px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
