/*
*	Theme name: CollectAndShip;
*	Theme date: 17/03/2020;
*/
:root {
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	--primary-color: #3762B1;
	--secondary-color: #52B4B3;
	--third-color: #FED104;
}
@font-face {
	font-family: "main";
	font-style: normal;
	src: url(../fonts/main.otf);
}
@keyframes show_menu {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}
body {
	direction: ltr;
	text-align: left;
    background-color: #F8F8F8;
}
.primary-bg,
.btn-primary {
	background-color: var(--primary-color);
}
.secondary-bg,
.btn-secondary {
	background-color: var(--secondary-color);
}
.third-bg,
.btn-third {
	background-color: var(--third-color);
}
.gradient-bg {
    background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
}
.white-head {
	color: white;
	text-shadow: 0 2px 2px #666;
}
.primary-head {
	color: var(--primary-color);
}
.secondary-head {
	color: var(--secondary-color);
}
.third-head {
	color: var(--third-color);
}
.text-shadow {
	text-shadow: 0 2px 2px #666;
}
.white-color {
	color: white;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: var(--secondary-color);
}
.btn-secondary:hover,
.btn-secondary:focus {
	background-color: var(--primary-color);
}
.btn-third:hover,
.btn-third:focus {
	background-color: white;
	color: #444;
}
#header {
	background-color: #F8F8F8;
}
.social-icon {
    color: #000;
    background-color: var(--third-color);
    width: 40px;
    display: block;
    margin: auto;
    height: 40px;
    border-radius: 100%;
    line-height: 40px;
    font-size: 20px;
    transition: 0.6s;
}
.social-icon:hover,
.social-icon:focus,
.social-icon:active {
	color: #fff;
	background-color: var(--primary-color);
}
#payment-methods {
    max-width: 230px;
}
#social-links {
    max-width: 230px;
    margin: auto;
}
.list-links {
	list-style: none;
	padding: 0;
}
.list-links li {
	margin-bottom: 10px;
}
#collapsed-menu{
    font-size: 15px;
}
.list-links li::before {
	display: inline-block;
    vertical-align: middle;
    /* margin-right: 10px; */
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid #fff;
    float: right;
    padding-right: 10px;
}
.list-links li a {
	text-decoration: none;
}
.list-links li a:hover,
.list-links li a:focus,
.list-links li a:active {
	color: #fff;
}
#copy-footer {
    min-height: 50px;
}
.copy-text {
    color: #fff;
    line-height: 70px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.6s;
}
#top-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 10px;
    border-radius: 100%;
    font-size: 2rem;
    line-height: 46px;
}
#top-btn:hover,
#top-btn:focus,
#top-btn:active {
	color: var(--primary-color);
	background-color: #fff;
}
.header-logo {
    margin-left: -15px;
    margin-right: -15px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    min-height: 75px;
    position: relative;
    width: 100%; /* For old browser*/
    width: calc(100% + 30px);
}
.header-logo > a > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.nav-link {
    color: var(--primary-color);
}
#top-nav .nav-item + .nav-item .nav-link::before {
    content: "";
    height: 10px;
    width: 1px;
    display: inline-block;
    border-right: 1px solid var(--primary-color);
    margin-right: -10px;
    margin-left: 10px;
    vertical-align: middle;
}
.nav-icon {
    max-width: 20px;
    max-height: 20px;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.nav-icon + span,
.nav-icon-lg + span {
    vertical-align: middle;
}
.nav-icon > img {
    max-height: 20px;
    max-width: 20px;
    vertical-align: unset;
}
.nav-icon-lg {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right:3px;
    vertical-align: middle;
}
.nav-icon-lg > img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
}
#main-nav .nav-item + li.nav-item {
	border-left: 1px solid var(--secondary-color);
}
#land-page {
    position: relative;
    background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}
#land-page::before {
    content: "";
    background-image: url(../images/worlds-maps.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-position: bottom;
    background-size: 90%;
    background-repeat: no-repeat;
}
#land-text {
    font-size: 2.4rem;
    margin-left: -15px;
    margin-right: -15px;
    color: #fff;
    text-shadow: 0 2px 2px #444;
    text-align: initial !important;
}
#land-page .btn {
    font-size: 2rem;
}
.big-word {
    font-size: 5rem;
}
#colis-logo {
    text-align: right;
    vertical-align: middle;
}
#colis-logo img {
	max-width: 100%;
	max-height: 100%;
}
.section::after {
    content: "";
    width: 0;
    display: block;
    height: 0.2rem;
    margin: 0 auto 1.5rem;
    border-right: 2rem solid var(--secondary-color);
    padding-left: 0.4rem;
    border-left: 6rem solid var(--secondary-color);
    position: relative;
    border-radius: 0.4rem;
}
.etape-item {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
}
.etape-item::before {
    content: "";
    display: block;
    background-image: linear-gradient(45deg, #ccc, #eee);
    width: 80%;
    height: 100%;
    position: absolute;
    border-radius: 100% 160% 100% 160%;
    margin: auto;
    left: 0;
    right: 0;
}
.etape-item::after {
    width: 10%;
    height: 0;
    content: "";
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    border-radius: 100%;
    padding-bottom: 10%;
    left: 8%;
    top: auto;
    bottom: 32%;
    margin: auto;
}
.etape-inner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.etape-icon {
    width: 60%;
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color) 50%);
    height: 100%;
    border-radius: 100%;
    position: relative;
    margin: auto;
    top: 0;
}
.etape-icon > img {
    max-width: 34%;
    max-height: 34%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.etape-num-label {
    width: 30%;
    position: absolute;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1.6rem;
    top: 0;
    right: 16%;
    z-index: 1;
    border-radius: 100%;
    overflow: hidden;
}
.etape-num-label::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0px;
    transform: rotate(-39deg);
    z-index: 0;
    top: -20%;
}
.etape-num, .etape-label {
    z-index: 1;
    position: relative;
    top: 8%;
}
.etape-caption {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}
.shadow-control {
    box-shadow: 0 0.1rem 0.4rem #444;
}
.form-control {
    border-radius: 1.5rem;
}
.form-group {
    margin-bottom: 1.6rem;
}
.custom-control {
    padding-left: 1.5rem;
    padding-right: 0;
    color: #fff;
}
.custom-control-label::before,
.custom-control-label::after {
    right: auto;
    left: -1.5rem;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--secondary-color);
    background-color: var(--third-color);
}
#image-slider-inner {
    position: relative;
}
#image-slider-inner > .image-slider-item {
    position: relative;
    width: 35%;
    height: 0;
    padding-bottom: 35%;
    margin: auto;
}
.image-slider-item > img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
}
.image-slider-control {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    cursor: pointer;
}
.image-slider-control.right {
    right: 0;
    border-left: 20px solid #ccc;
}
.image-slider-control.left {
    left: 0;
    border-right: 20px solid #ccc;
}
#image-slider-container {
    margin-top: 2rem;
}
#image-slider-container .image-slider-item {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
    margin-top: 2rem;
}
.company-col {
	vertical-align: middle;
	align-items: center;
	align-self: center;
}
.company-col > img {
	max-width: 100%;
	vertical-align: middle;
}
#collapse-menu {
    color: var(--primary-color);
    font-size: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -3rem;
    z-index: 1000;
}
@media(max-width: 767px) {
	body.menu-shown .header-logo {
	    z-index: 1000;
	    border-bottom: 1px solid var(--primary-color);
	    background-color: #fff;
	}
	#collapsed-menu {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: #fff;
	    z-index: 999;
	    transition: opacity 1s;
	    opacity: 0;
	    padding-top: 7rem;
	    overflow: auto;
	}
	#collapsed-menu.show {
		display: block !important;
		opacity: 1;
		animation-name: show_menu;
		animation-duration: 1s;
	}
	body.menu-shown {
		overflow: hidden;
	}
	#top-nav,
	#main-nav {
	    width: 100%;
	}
	#top-nav .nav,
	#main-nav .nav {
		flex-direction: column;
	}
	#main-nav .nav-item + li.nav-item {
	    border: none;
	}
	.list-links {
	    list-style: none;
	    padding: 0;
	    display: table;
	    margin: auto;
	    text-align: right;
	}
}

.float-left{
    float: right !important;
}

/********* Custom style ********/
.customcontrol {
    color:#fff !important;
}
.information {
    line-height: 4;
    font-size: 13px;
    font-weight: normal;
}
.information h3 {
    color:#3762B1;
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.loginerreur , .regestererreur {
    color: red;
    font-weight: bold;
    padding-top: 10px;
}

.titles{
    padding: 4px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
}

.titles_2{
    font-size: 15px;
    padding: 0.5pc;
    background: rgba(66, 130, 199, 0.25);
    color: #000;
}
.modal-footer{
    justify-content: flex-start;
}
.list-links li::before{
    border-left: 10px solid #fff;
    float: left;
    padding-left: 10px;
    border-right: none;
    padding-right: none;
}
